<div class="sidebar-header">
  <mat-icon class="logo-icon">bolt</mat-icon>
  <span class="app-name">AngularDemo</span>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  @for (item of navItems; track item.route) {
    <a mat-list-item
       [routerLink]="item.route"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{ exact: false }">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  }
</mat-nav-list>
